
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css" integrity="sha512-NXUhxhkDgZYOMjaIgd89zF2w51Mub53Ru3zCNp5LTlEzMbNNAjTjDbpURYGS5Mop2cU4b7re1nOIucsVlrx9fA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js" integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../../css/style.css">
    <title>Forget Password</title>
</head>
<body>
    <form class="sentotp" action="/user/sentotp" method="post">
        <h3>Enter Your Email</h3>
        <input type="text" name="email" placeholder="Enter Mail">
        <br><br>
        <button type="submit">Generate OTP</button>
    </form>

    <br>
   

    <% if(!auth) { %>
    <form class="sentotp" action="/user/verifyotp" method="post">
        <h3>Enter OTP</h3>
        <input type="number" name="otp" placeholder="Enter OTP"> <br><br>
        <button type="submit">Verify OTP</button>
    </form>
    <% } %>
    
</body>
</html>

<script>
    <% if(flash.success && flash.success.length > 0){ %>
      new Noty({
        text : '<%= flash.success %>',
        type : 'success',
        timeout : 1500,
        theme : 'relax'
      }).show()
      <% } %>
  
      <% if(flash.error && flash.error.length > 0){ %>
      new Noty({
        text : '<%= flash.error %>',
        type : 'error',
        timeout : 1500,
        theme : 'relax'
      }).show()
      <% } %>
  
  </script>